/Element.class
/Gobi.class
/Hachibi.class
/Ichibi.class
/Kyûbi.class
/Nanabi.class
/Nibi.class
/Power.class
/Rokubi.class
/Sanbi.class
/Yonbi.class
/Chuunins.class
/Kyubi.class
/Chomei.class
/ApplyPower.class
